pipeline/pipeline3.json
{
	"name": "pipeline3",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(variables('FLAG'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Metadata1",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "METADATA",
									"value": "FILENAME FETCHED"
								}
							],
							"typeProperties": {
								"dataset": {
									"referenceName": "foreachds",
									"type": "DatasetReference",
									"parameters": {
										"FILES": {
											"value": "@pipeline().parameters.FOLDERNAME",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('Get Metadata1').output.exists",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copy data1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [
											{
												"name": "FOLDER",
												"value": "OU4 CREEATED"
											}
										],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true
												},
												"formatSettings": {
													"type": "BinaryReadSettings"
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "inputdata1",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "foreachds",
												"type": "DatasetReference",
												"parameters": {
													"FILES": "OU4"
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "Set variable1",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [
											{
												"name": "SET",
												"value": "VARIABLE SET AS TRUE"
											}
										],
										"typeProperties": {
											"variableName": "FLAG",
											"value": "TRUE"
										}
									}
								]
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"parameters": {
			"FOLDERNAME": {
				"type": "string",
				"defaultValue": "OU4"
			}
		},
		"variables": {
			"FLAG": {
				"type": "String",
				"defaultValue": "FALSE"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-12-12T10:45:42Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}