pipeline/validation_pipe.json
{
	"name": "validation_pipe",
	"properties": {
		"activities": [
			{
				"name": "Validation1",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "foreachds",
						"type": "DatasetReference",
						"parameters": {
							"FILES": "OU4"
						}
					},
					"timeout": "0.00:00:30",
					"sleep": 0
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Validation1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "inputdata1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "foreachds",
						"type": "DatasetReference",
						"parameters": {
							"FILES": {
								"value": "@activity('Validation1').output.exists",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-12-13T10:11:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}