pipeline/web_pipeline.json
{
	"name": "web_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://dummy-json.mock.beeceptor.com/todos"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@array(activity('Web1').output)",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET",
										"requestBody": {
											"value": "@string(item())",
											"type": "Expression"
										}
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Http_binary_web",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "dynamic_dataset",
									"type": "DatasetReference",
									"parameters": {
										"FOLDER": {
											"value": "@pipeline().parameters.FOLDER_NAME",
											"type": "Expression"
										},
										"FILE": {
											"value": "@pipeline().parameters.FILE_NAME",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"FOLDER_NAME": {
				"type": "string"
			},
			"FILE_NAME": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-12-13T06:43:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}